@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Kumbh+Sans:wght@300&display=swap');

@keyframes boucing{
    to{
        transform: translateY(10px);
    }
}

@keyframes imgScale{
    to{
        transform: scale(0.9);
        filter: opacity(0.6);
        filter: grayscale(80%);
    }
}

body{
    background-color: white;
}

body::-webkit-scrollbar{
    background-color: rgb(230, 230, 230);
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(68, 202, 103);
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(23, 172, 62);
    
}

#searchBarDiv{
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 12%;
}

#searchBarInput{ 
    padding: 15px;
    font-size: 20px;
    border-radius: 3px 3px 3px 3px ;
    border: none;
    text-transform:uppercase;
    background-color: rgb(68, 202, 103);
    color: white;
    font-family: 'Dosis', sans-serif;
    width: 22.5%;

    transition-property: width, background-color;
    transition-delay: 0.2s;
    transition-duration: 1s, 2s;
}

#searchBarInput::placeholder{
    color: rgba(230, 230, 230, 0.794);
}

#searchBarInput:focus{
    background-color: rgb(0, 91, 24);
    color: white;
}

#searchBarInput:hover{
    animation-iteration-count: unset;
    width: 34%;
}

#searchBarInput:focus{
    width: 34%;
}

#searchBarH1{
    color: rgb(21, 151, 55);
    font-size: 50px;
    font-weight: 350;
    font-family: 'Dosis', sans-serif;
    animation: boucing 1s alternate infinite;
}

#searchBarButton{
    font-size: 18px;
    width: 24.5%;
    color: white;
    background-color: rgb(0, 91, 24);
    border: none;
    border-bottom: solid 2px rgb(0, 175, 47);
    border-radius: 3px 3px 3px 3px;
    font-family: 'Dosis', sans-serif;

    transition-property: transform, background-color;
    transition-duration: 0.1s, 1s;
}

#searchBarButton:hover{
    cursor: pointer;
    background-color: rgb(189, 255, 209);
}

#searchBarButton:active{
    transform: scale(0.8);
    background-color:rgb(156, 255, 186);
}

*:focus {
    outline: none;
}

.filmsBox{  
    max-height: 100%;
    display: flex;

    overflow-x: scroll;
}

.filmsBox::-webkit-scrollbar{
    background-color: rgba(255, 255, 255, 0);
}
.filmsBox::-webkit-scrollbar-button{
    display: none;
}

.filmsBox::-webkit-scrollbar-thumb{
    background-color: rgba(43, 199, 22, 0.431);
}

.filmsDivDiv{
    max-width: 270px;
    height: 480px;
    text-align: center;
}

.filmsDivDiv img{
    transform: scale(0.8);
    height: 430px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.39);
}

.filmsDivDiv img:hover{
    animation: imgScale 0.2s ;
    animation-fill-mode: forwards;
}

#boxThemButton{
    padding-left: 30px;
    padding-top: 30px;
}

.themButton{
    height: 80%;
    width: 5%;
    border-radius: 4px;
    margin: solid 1px rgb(128, 128, 128);
    display: inline-block;
    padding: 5px;
    transition: 0.5s;
    
}
 
.themButton:hover{
    transform: scale(0.8);
    transition: 0.6s;
}

#blackThem{
    background-color: black;
    
}
#greenThem{
    background-color: rgb(21, 151, 55);
}
#whiteThem{
    background-color: white;
}