
#searchBarDiv{
    display: inline;
    padding-left: 500px;
    padding-top: 300px;
}

#searchBarInput{ 
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 27px;
    border-radius: 10px 0 0 10px;
    border: solid 1px black;
    text-transform:capitalize;
}

#searchBarInput:focus{
    background-color: rgb(182, 245, 182);
}

#searchBarImg{
    position: absolute; 
    border-radius: 0 10px 10px 0;
    border: solid 1px black;
}

*:focus {
    outline: none;
}

